body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: antiquewhite;
    font-family: "Comfortaa", sans-serif;
    width: 1200px;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-auto-rows: 150px 50px 650px 25px;
    
}

header {
    text-align: center;
    background-color: burlywood;
    border: 1px solid burlywood;
    font-family: "Chela One", cursive;
    letter-spacing: 2.5px;
    color: #784c14;
    grid-column: 1/4;
    grid-row: 1;
    font-size: 40px;
    padding-top: 25px;
}


#column1 {
    background-color: #ebd1b0;
    grid-column: 1;
    grid-row: 3;
    padding: 20px;
}

#column2 {
    background-color: #eddcc5;
    grid-column: 2/4;
    grid-row: 3;
    padding: 20px;
}

nav {
    border: 4px solid #876104;
    text-align: center;
    grid-row: 2;
    grid-column: 1/4;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgoldenrod;
}

nav li a {
    display: block;
    float: left;
    padding: 14px 14px;
    text-decoration: none;
    color: beige;
}

li a:hover {
    background-color: #a87905;
}

#left {
    float: left;
    background-color: #ebd1b0;
    clear: left;
    margin: 0px;
    grid-column: 1;
    grid-row: 3;
}

#info {
    float: left;
    text-align: center;
    font-size: 1.5em;
    height: 100%;
    background-color: #eddcc5;
    grid-column: 2;
    grid-row: 3;
    padding: 10px;
}

#right {
    background-color: #ebd1b0;
    clear: right;
    float: right;
    grid-column: 3;
    grid-row: 3;
}

.gallery {
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    height: 270px;
}

footer {
    background-color: white;
    text-align: center;
    grid-column: 1/4;
    grid-row: 4;
    
}

footer a {
    font-weight: bold;
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
}

.contact {
    background-color: white;
    padding: 20px;
    border: 1px solid gray;
    grid-column: 1/4;
    grid-row: 3;
}

input[type=text] {
    width: 20em;
}

textarea {
    resize: none;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #eddcc5;
    border: 2px solid #c27d21;
    border-radius: 5px;
    width: 5em;
    height: 2em;
    cursor: pointer;
    font-family: "Comfortaa", sans-serif;
}

.accordion {
  --bs-accordion-active-bg: beige;
}

.card {
    width: 175px;
    margin-bottom: 20px;
    height: 280px;
}

.card-title {
    font-size: 1em;
}

.card-text {
    font-size: 0.8em;
    line-height: 15px;
}


.accordion-body {
    height: 125px;
}

#breeds {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

#supplies-info {
    font-size: 1.2em;
    line-height: 1.9em;
}
